html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.nav-item.active {
	border-left: 0.1em solid black;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.nav-item.active:first-of-type {
	border-left: none;
}

.nav-item.active > a:hover,
.nav-item.active > a:hover {
	border: 0.1em solid lightcoral;
	border-radius: 25px;
}

.Challenge {
	display: none;
	border: 0.1em dashed black;
	border-radius: 25px;
	padding: 2em;
	margin: 1em 2em;
	text-align: center;
}

.Challenge-Input,
.Challenge-Values {
	float: left;
}

.Challenge-Input input {
	height: 2em;
}

.Challenge.selected {
	display: block;
}

.btn {
	border-radius: 0;
}