html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.nav-item {
	border-left: 0.1em solid black;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.nav-item:first-of-type {
	border-left: none;
}

.Challenge {
	display: none;
	border: 0.1em dashed black;
	border-radius: 25px;
	padding: 2em;
	margin: 1em 2em;
	text-align: center;
}

.Challenge-Row > div {
	float: left;
	padding-top: 4em;
}


.Challenge-Input input {
	height: 2em;
	width: 90%;
}

.selected {
	display: block;
}

.Challenge-Help {
	position: relative;
}

.teaser,
.hint {

	width: 100%;
}

.hint {
	display: none;
}

.teaser {
	display: block;
	background-color: black;
	color: white;
}

.btn {
	border-radius: 0;
}